.all{
    font-size: 20px;
    color: grey;
    text-align: center;
}
.blockImg{
    margin-top: 15px;
    text-align: center;

}
.img{
    width: 99vw;
    max-width: 800px;
    max-height: 780px;
}
.inp{
    text-align: center;
}