.exactBeer{
    margin-left: 30px;
    display: grid;
    width: 95%;
    height: 100%;
    margin-top: 15px;

    grid-template-areas:
    'n n'
    'i s';
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 100px 1fr;
    grid-gap: 15px;
}
.exactBeerMobile{
    text-align: center;
    margin-left: 2%;
    display: grid;
    width: 96%;
    height: 100%;
    margin-top: 15px;

    grid-template-areas:
    'n'
    'i'
    's';
    grid-template-rows: 50px 500px 1fr;
    grid-gap: 15px;
}
.imgBeerMobile{
    margin-right: auto;
    margin-left: auto;
    max-height: 500px;
}
.info{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    grid-area: s;
}
.imgBeer{
    max-height: 800px;
    margin-left: 5%;
    grid-area: i;
}
.name{
    font-size: 50px;
    font-weight: bold;
    grid-area: n;
    text-align: center;
}
.description{

    grid-area: d;
}
.food_pairing{
    grid-area: f;
}
.tagline{
    grid-area: t;
}
.abv{
    grid-area: a;
}
.txt{

    color: red;
}
.png{
    top: 0;
    right: 0;
    margin-top: 40px;
    position: fixed;
    height: 1060px;
    overflow:hidden;
    z-index: -1;
}