
.paginator
{
    margin-left: 5%;
    margin-bottom: 10px;
}
.all{
    text-align: center;
    padding-top: 20px;

}

.png1{
    top: 0;
    right: 0;
    margin-top: 40px;
    position: fixed;
    height: 100%;
    overflow:hidden;
    z-index: -1;
}

