@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@200;300&display=swap');

.panel{
    text-align: center;

    width:100%;
}
.headerr{

}
.menu{
    font-size: max(2vw, 20px);

    text-align: center;
}
.elem1{

    width: 80px;
}
.elem2{
    margin-left: 20% ;
    width: 80px;
}
.elem3{
    margin-left: 20% ;
    width: 80px;
}
.allWindow{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
   height: 100vh;
}